manifest_path: __MANIFEST__
output_dir: __PROJECT_DIR__
selectors_output_file: selectors.yml
jobs_output_file: __WORKDIR__/jobs.yml

selector:
  group_by_dependencies: true
  selector_prefix: maestro
  warn_on_manual_overlaps: true
