manifest_path: __MANIFEST__
output_dir: __PROJECT_DIR__
selectors_output_file: selectors.yml
jobs_output_file: __WORKDIR__/jobs.yml

selector:
  selector_prefix: maestro
  combine_single_model_selectors: true
  include_seeds_selectors: true
  seeds_selector_method: fqn
  include_snapshots_selectors: true
  snapshots_selector_method: fqn
